* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}
.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6 , 1fr);
	gap:5px;
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
h1{
    font-family: 'Shantell Sans', cursive;
    text-overflow: ellipsis;
}

.boton::after{
    content: "";
    width: 1px;
    height:1px;
    background-color:none ;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
}
.boton:hover::after{
    transform: scale(400);
    background-color: orange;
    display: inline;
    padding-left: 450px;
    color: black;
    letter-spacing: 2px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
 
}
.boton:hover{
    background: #ff4400c5 ;
    box-shadow: 0 0 10px #ff4400c5  , 0 0 40px #ff4400c5, 0 0 80px #ff4400c5;
}





