* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}
.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6 , 1fr);
	flex-direction: row;
	gap:5px;
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	overflow: hidden;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
.boton::after{
    content: "";
    width: 1px;
    height:1px;
    background-color:none ;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: .3s ease-in-out all;
    border-radius: 100px;
}
.boton:hover::after{
    transform: scale(400);
    background-color: orange;
 }
 h1{
    font-family: 'Shantell Sans', cursive;
    text-overflow: ellipsis;
}

.contenedor_banner{
    width: 120vw;
	
	
}
.caja{
    width: 100px;
    height: 100px;
}
.caja1{
    width: 150vw;
    height: 150vh;
}
.caja2{
    background-color: green;
}
.caja3{
    background-color: blue;
}